<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CengageSAM Azure Redis" 
         connectionString="cengagesam.redis.cache.windows.net:6380,password=4qQe4HTiRjax6Ffko1iFFAm8l0wM8nGNWoW0lLfrVjU=,ssl=True,abortConnect=False,allowAdmin=true"
         providerName="Redis"/>
    <add name="whcinnsamres01q.corp.web" connectionString="whcinnsamres01q.corp.web" providerName="Redis"/>
    <add name="whcinnsamres01s.corp.web" connectionString="whcinnsamres01s.corp.web" providerName="Redis"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>